
<br>
<br>
<br>
<div class="container">
        <div class="row">
          <div class="col s12 m6">
            <div class="card darken-1">
              <div class="card-content white-text">
                <span class="card-title "><%= link_to 'Teachers login', new_teacher_session_path %> </span>
                </div>
            </div>
          </div>
        </div>



      <div class="row">
        <div class="col s12 m6">
          <div class="card darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= link_to 'Student login', new_student_session_path %></span>
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= link_to 'Add an Assignment', questions_path %></span>
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= link_to 'Submit Assignment', answers_path %></span>
              </div>
            </div>
        </div>
      </div>
</div>
